@use '/src/styles/constants/colors';

.cancer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;

  .pageHeader {
    line-height: 80px;

    .pageTitle {
      font-size: 32px;
      font-weight: 900;
      color: colors.$PRIMARY;
      text-align: center;
    }
  }

  .resultWrapper {
    width: 100%;
    height: 470px;
    margin-top: 30px;
    overflow: scroll;
    border-radius: 12px;
  }
}
