@use '/src/styles/constants/colors';

.resultList {
  margin-top: 40px;

  ul {
    width: 100%;
    margin-top: 24px;
  }

  li {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 100px;
    padding: 24px 0;
    margin-top: 80px;
    color: colors.$PRIMARY;

    dl {
      width: 100%;
      padding: 20px;
      background-color: colors.$BG_SUB;
      border-radius: 20px;

      .contentWrapper {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        font-size: 14px;
        line-height: 16px;
        color: colors.$TEXT_DB;
        border-bottom: 1px solid colors.$PRIMARY;

        + .contentWrapper {
          margin-top: 10px;
        }

        dt {
          width: 40%;
        }

        dd {
          width: 50%;
          margin-left: 20px;
          text-align: left;
        }
      }
    }
  }
}
