// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$GREY_50: #edeff1;
$GREY_100: #d1d8dc;
$GREY_300: #94a2ad;

$BG: #e5f2fe;
$BORDER: #4b585f;
$LIST: #fdfffe;

$BUTTON_BG: #007be9;
$BUTTON_HOVER_BG: #118cf0;

$BIG_TITLE: #011826;
$TEXT: #a7afb7;
$TEXT_DB: #191940;

$SHADOW: rgba(#000000, 4%);
