// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$GRAY_50: #edeff1;
$GRAY_100: #d1d8dc;
$GRAY_300: #94a2ad;
$GRAY_400: #9ca3af;
$GRAY_500: #6b7280;
$GRAY_600: #4b5563;
$GRAY_700: #374151;
$GRAY_800: #1f2937;
$GRAY_850: #131313;
$GRAY_900: #111827;

$BG: #e5f2fe;
$BORDER: #4b585f;
$BG_SUB: #fdfffe;

$PRIMARY: #23506b;
$PRIMARY_HOVER: #c9e5f1;

$TEXT: #a7afb7;
$TEXT_DB: #191940;

$SHADOW: rgba(#000000, 4%);
